modules = ["nodejs-20", "web", "bash"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/undf-participa: web"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "artifacts/undf-participa: web"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=21016 BASE_PATH=/ pnpm --filter @workspace/undf-participa run dev"
waitForPort = 21016

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
DIRECT_URL = "postgresql://postgres.jdfrjdbhgogmlxbydbbi:4uHiX5bS9DLkqL42@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"
NODE_ENV = "development"
SUPABASE_JWKS_URL = "https://jdfrjdbhgogmlxbydbbi.supabase.co/auth/v1/.well-known/jwks.json"
SUPABASE_PUBLISHABLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpkZnJqZGJoZ29nbWx4YnlkYmJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2NzY1NjcsImV4cCI6MjEwMDI1MjU2N30.jZAIKfC-AZSyqrUlOT_IpsclbjfAhv4EgiEDcNMSshI"
SUPABASE_SECRET_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpkZnJqZGJoZ29nbWx4YnlkYmJpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDY3NjU2NywiZXhwIjoyMTAwMjUyNTY3fQ.GwMpFKrBPfyvPEbW4-nbo4syJEnbay0Voo-iLawE2Sc"
SUPABASE_URL = "https://jdfrjdbhgogmlxbydbbi.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpkZnJqZGJoZ29nbWx4YnlkYmJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2NzY1NjcsImV4cCI6MjEwMDI1MjU2N30.jZAIKfC-AZSyqrUlOT_IpsclbjfAhv4EgiEDcNMSshI"
VITE_SUPABASE_URL = "https://jdfrjdbhgogmlxbydbbi.supabase.co"
DEMO_MODE = "true"
VITE_DEMO_MODE = "true"
DEMO_USER_EMAIL = "aluno_teste@undf.edu.br"
DEMO_ADMIN_EMAIL = "ADM_teste@undf.edu.br"
DEMO_ADMIN_PASSWORD = "123456"
DEMO_USER_PASSWORD = "123456"
